body {
    overflow-x: hidden;
    
}


.dentrodoblog {
    width: 100vw;
    justify-content: center;
    background-image: url(../imagem/Dentrodoblog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.button2x {
    display: inline-block;
    margin-top: 3vh;
    font-size: 1.5em;
    font-weight: 500;
    color: #41A68E;
    border: 2px solid #41A68E;
    border-radius: 4px;
    cursor: pointer;
    width: 10vw;
    height: auto;
    font-family: 'GlacialIndifferenceRegular';
    line-height: 5vh; /* Centraliza verticalmente */
    text-align: center;
    display: flex;
    align-items: center;
}
.button2x::before {
    content: '';
    flex: 1;
}

.button2x::after {
    content: '';
    flex: 1;
}

.button2 {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 0vh;
    margin-bottom: 3vh;
    font-size: 1rem;
    font-weight: 500;
    color: #41A68E;
    border: 2px solid #41A68E;
    border-radius: 4px;
    cursor: pointer;
    width: 8vw;
    height: auto;
    text-align: center;
    font-family: 'GlacialIndifferenceRegular';
    line-height: 5vh; /* Centraliza verticalmente */
    bottom: 0;
}

.fixed-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 3vh;
    margin-left: auto; /* Centralizar horizontalmente */
    margin-right: auto; /* Centralizar horizontalmente */
    font-size: 1.2rem;
    color: #41A68E;
    border: 2px solid #41A68E;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    text-align: center;
    outline: none;
}


.fixed-bottom-left:hover {
    color: #41A68E;
    text-decoration: none;
}

.button2x:hover {
    color: #41A68E;
    text-decoration: none;
}

.card-body{
    height: 80vh;
}

.button2:hover {
    text-decoration: none;
}

.button2b {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    color: #41A68E;
    background-color: #f8f8f8;
    border: 2px solid #41A68E;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    height: auto;
    text-align-last: center;
    font-family: 'GlacialIndifferenceRegular';
    outline: none;
}

.button2b:focus {
    outline: none;
}

.button22 {
    display: inline-block;
    margin-top: 3px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #41A68E;
    border: 3px solid #41A68E;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: auto;
    text-align-last: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'GlacialIndifferenceRegular';
}

.button2:hover {
    color: #41A68E;
    background-color: white;
}

.card-title {
    margin-top: 2vh;
    font-size: 1.7rem;
    color: #41A68E;
    font-family: 'League Spartan', sans-serif;
}

.card-title2 {
    margin-top: 2vh;
    font-size: 1.7rem;
    color: #41A68E;
    font-family: 'League Spartan', sans-serif;
}
.card-titlee {
    margin-top: 5vh;
    font-size: 1.7rem;
    color: #41A68E;
    text-align: center;
}

.card-text {
    color: #41A68E;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'GlacialIndifferenceRegular';
}

.ajudablog{
    width: 18vw;
    font-size: 1rem;
    font-family: 'GlacialIndifferenceRegular';
}

.card-textt {
    color: #41A68E;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 27%;
    width: 45%;
    font-family: 'GlacialIndifferenceRegular';
}

.paraotexto {
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.redesSociais a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9vh;
    width: 4vw;
    margin: 0 0.5vw 4vh 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 0.2rem solid white;
    transition: all 0.5s ease;
}

.redesSociais a:hover {
    color: #41A68E;
    background-color: white;
}

.redesSociais a i {
    font-size: 2em;
    align-items: center;
    margin-top: 0.4vh;
}

.face {
    margin-right: 0.2vw;
}

.xdx {
    margin-top: 5vh;
}

.xx{
    font-size: 1.5rem;
    margin-top: 5vh;
}

.rodape {
    display: inline-flex;
    margin: auto;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.test {
    background-color: #18745B;
    height: 11vh;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: 'GlacialIndifferenceRegular';
}

.test2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: -18vw;
}

.agora {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
}

.div1 {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagem/resultados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
}

.blog {
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../imagem/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.envios {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagem/envios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.envios input {
    width: 37vw;
    height: 7vh;
    font-family: 'GlacialIndifferenceRegular';
    outline: none;
}

.formulario {
    margin-right: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.envios input::placeholder {
    color: #18745B;
}

.envios textarea {
    height: 30vh;
    width: 37vw;
    font-family: 'GlacialIndifferenceRegular';
    outline: none;
    resize: none;
}

.envios textarea::placeholder {
    color: #18745B;
}

.div11 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    height: 40vh;
    margin-right: -2vw;
}

.div111 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url(../imagem/quem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

.div3 {
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagem/testeee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.div45 {
    height: 10vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 8vw;
    margin-top: 9vh;
}

.slider-frame {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
}

.slider-frame img{
    width: 100vw;
    height: 100vh;
    
}

.slider {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 80vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 50vw;
    height: 80vh;
}

.manual-navigation {
    position: absolute;
    width: 48vw;
    display: flex;
    justify-content: end;
    margin-top: 68vh;
}

.manual-btn {
    width: 1.5vw;
    height: 3vh;
    border: 0.3rem solid #41A68E;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    margin-right: 18vw;
}

.manual-btn:not(:last-child) {
    margin-right: 1.45vw;
}

.manual-btn:hover {
    background-color: #41A68E;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 0.3rem solid #41A68E;
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    margin-right: 18vw;
}

.navigation-auto {
    position: absolute;
    width: 48vw;
    margin-top: 68vh;
    display: flex;
    justify-content: end;
}

.navigation-auto div:not(:last-child) {
    margin-right: 1.45vw;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #41A68E;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #41A68E;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #41A68E;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #41A68E;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #41A68E;
}

.slider-frame .fotos {
    display: flex;
    width: 500%;
    animation: slide 30s infinite;
}

.slider-frame .fotos img {
    width: 20%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    15% {
        margin-left: 0;
    }
    20% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    55% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    80% {
        margin-left: -300%;
    }
    85% {
        margin-left: -400%;
    }
    100% {
        margin-left: -400%;
    }
}

.divSer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.divSer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.divSer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.titulomodal {
    display: flex;
    background-color: #18745B;
    width: 22vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.texto {
    color: white;
    font-size: 2rem;
    font-family: 'GlacialIndifferenceRegular';
}

.texto1 {
    color: white;
    font-size: 1.5em;
    width: 35vw;
    margin-left: -2vw;
    text-indent: 4vw;
    font-family: 'GlacialIndifferenceRegular';
}

.texto1a {
    color: white;
    font-size: 1.5em;
    width: 35vw;
    margin-left: -2vw;
    text-indent: 4vw;
    font-family: 'GlacialIndifferenceRegular';
}

.texto33 {
    display: flex;
    color: #41A68E;
    font-weight: bold;
    top: 0px;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem;
}

.texto333 {
    display: flex;
    color: #41A68E;
    font-weight: bold;
    top: 0px;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem;
    line-height: 40px;
}

.texto3334 {
    display: flex;
    color: #41A68E;
    font-weight: bold;
    top: 0px;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.9rem;
}

.itensdeservico {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto4 {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 10vh;
    color: #18745B;
    font-family: 'League Spartan', sans-serif;
    font-size: 4.1rem;
}

.texto4b {
    margin-top: -25vh;
    display: flex;
    font-size: 4.1rem;
    color: #18745B;
    font-family: 'League Spartan', sans-serif;
}

.texto44 {
    color: white;
    margin-bottom: 5vh;
    font-family: 'League Spartan', sans-serif;
    font-size: 3.5rem;
}

.texto44b {
    color: white;
    margin-bottom: 10vh;
    font-size: 4em;
    font-family: 'League Spartan', sans-serif;
}

.textott {
    color: black;
    width: 20vw;
    margin-top: 2vh;
    font-size: 1.25rem;
    text-align: justify;
    font-family: 'GlacialIndifferenceRegular';
    margin-left: 5vw;
    margin-right: 5vw; /* Para centralizar horizontalmente */
}

.textott1 {
    color: black;
    width: 25vw;
    margin-top: 2vh;
    font-size: 1.25rem;
    text-align: justify;
    font-family: 'GlacialIndifferenceRegular';
    margin-left: 10vw;
}


.textott12 {
    color: black;
    width: 25vw;
    margin-top: 5vh;
    font-size: 1.25rem;
    text-align: justify;
    font-family: 'GlacialIndifferenceRegular';
    margin-left: 10vw;
}

.textott128{
    color: black;
    width: 25vw;
    margin-top: 5vh;
    font-size: 1.25rem;
    text-align: justify;
    font-family: 'GlacialIndifferenceRegular';
    margin-left: 10vw;
}

nav ul {
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

nav {
    background: #343a40;
}

.active_nav {
    background: #18745bb7;
}

.addinicio {
    border-radius: 0.1rem;
    background-color: #41A68E;
}

#inicio:hover {
    background-color: #41A68E;
}

#quem:hover {
    background-color: #41A68E;
}

#serv:hover {
    background-color: #41A68E;
}

#contat:hover {
    background-color: #41A68E;
}

#blog:hover {
    background-color: #41A68E;
}
.bg-modal.fullscreen, .bg-modal2.fullscreen, .bg-modal3.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
  
.bg-modal.fullscreen .bg-image, .bg-modal2.fullscreen .bg-image, .bg-modal3.fullscreen .bg-image {
    background-size: 80% 100% !important;
}
  
.opcao.fullscreen {
    width: 80vw !important;
    height: auto !important;
}

  
.s1.fullscreen {
    width: 8vw !important;
    font-size: 1rem !important;
}
  
.divSer.fullscreen,
.divSer2.fullscreen,
.divSer3.fullscreen {
    margin-left: 1vw !important;
    margin-right: 1vw !important;
}
  
.titulomodal.fullscreen {
    width: 20vw !important;
}
  
.textott.fullscreen {
    width: 18vw !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
}
.bg-modal {
    width: 90vw;
    height: 80vh;
    position: fixed;
    margin-top: 10vh;
    left: 0;
    z-index: 2;
    top: -310vh;
    transition: 350ms;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-modal .bg-image, .bg-modal3 .bg-image,.bg-modal2 .bg-image {
    background-image: url(../imagem/subservicos.jpg);
    background-repeat: no-repeat;
    background-size: 80%; /* Diminui a imagem para 80% do tamanho original */
    background-position: center center;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.bg-modal2 {
    width: 90vw;
    height: 80vh;
    position: fixed;
    margin-top: 10vh;
    left: 0;
    z-index: 2;
    top: -310vh;
    transition: 350ms;
    border-radius: 0.1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bg-modal3 {
    width: 90vw;
    height: 80vh;
    position: fixed;
    margin-top: 10vh;
    left: 0;
    z-index: 2;
    top: -310vh;
    transition: 350ms;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opcao {
    width: 22vw;
    height: 48vh;
    cursor: pointer;
}

.opcaooo, .opcaooox {
    display: flex;
    width: 22vw;
    height: 48vh;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

.opcaooo2 {
    margin-bottom: -4vh;
    display: flex;
    width: 22vw;
    height: 48vh;
    cursor: pointer;
    margin-right: -5vw; /* Centraliza horizontalmente */
}

.opcaooo22 {
    margin-bottom: -4vh;
    display: flex;
    width: 21vw;
    height: 46vh;
    cursor: pointer;
    margin-right: -5vw; /* Centraliza horizontalmente */
}

.opcaooo3 {
    display: flex;
    width: 22vw;
    height: 48vh;
    cursor: pointer;
    margin-top: 2vh;
    margin-right: -5vw; /* Centraliza horizontalmente */
}

.close2 {
    font-size: 2.5rem;
    transition: 350ms;
    cursor: pointer;
    position: absolute;
    top: 10vh;
    right: 18vw;
    display: flex;
    border: none; /* Remove a borda */
    background-color: rgba(0, 0, 255, 0);
    color: #41A68E;
    outline: none;
}

.close2:focus {
    outline: none; /* Remove a borda de foco */
}

.s1 {
    display: inline-block;
    width: 10vw;
    height: auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fff;
    color: #41A68E;
    border-radius: 0.1rem;
    box-shadow: 2px 3px 0 rgba(0, 34, 8, 0.329);
    cursor: pointer;
    margin-left: 4vw;
    margin-right: 4vw;
    outline: none; /* Remove a borda de foco */
    border: 1px solid #41A68E;
}

.s1:hover {
    color: #fff;
    background-color: #41A68E;
}

.s1:focus {
    outline: none; /* Remove a borda de foco */
}

.ss {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    color: #41A68E;
    border: 0px;
    box-shadow: 0.4vh 0.6vh 0 rgba(0, 34, 8, 0.329);
    cursor: pointer;
}

.ss:hover {
    color: white;
    background-color: #41A68E;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #41a68e8e;
}

#footer {
    position: relative;
    bottom: 0;
    background-color: #18745B;
    height: 50vh;
    width: 100vw;
}

.rowblog {
    margin-left: -2vw;
    display: grid;
    grid-template-columns: repeat(3, 32vw);
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 10vh;
}

.rowblog2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.rowwblog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.postagem {
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logonome {
    margin-top: -25vh;
    width: 22vw;
    height:15vh;
}

.logodaflorar {
    display: flex;
    margin-left: 2vw;
}

.sps {
    margin-top: 2vh;
    font-family: 'GlacialIndifferenceRegular';
}

.historia {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.hist {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: 'GlacialIndifferenceRegular';
}

.hist h10 {
    margin: 0;
    font-size: 6em;
}

.hist p {
    margin: 0;
    font-size: 2em;
}

.algo {
    border-bottom: 0.4vh solid #eeeeee;
    font-family: 'League Spartan', sans-serif;
}

.col-sm-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagemblog {
    height: auto;
}

.sliderr {
    width: 60vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.sliderr3 {
    width: 60vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.sliderrr {
    width: 60vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.botoesservico {
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
}

.div112 {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.div1122 {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.div1123 {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.activee {
    display: block;
}

.activee3 {
    display: block;
}

.activeee {
    display: block;
}
@media only screen and (max-width: 1000px) {
    .bg-modal.fullscreen .bg-image, .bg-modal2.fullscreen .bg-image, .bg-modal3.fullscreen .bg-image {
        background-size: 100% 40% !important;
    }
    .slider-frame img{
        width: 100vw;
        height: 25vh;
    }
    .slider-frame, .slider{
        height: 25vh;
        width: 100vw;
    }
    .div111, .div3, .div1, .blog, .envios{
        height: 28vh;
        width: 100vw;
    }
    .blog{
        height: 45vh;
    }
    .div111{
        height: 30vh;
    }
    .div3{
        height: 38vh;
    }
    .envios{
        height: 35vh;
    }
    .div11, .slide img{
        margin-top: 4vh;
        width: 45vw;
        height: 17vh;
    }
    .texto1, .texto1a{
        margin-left: 1vw;
        width: 40vw;
        font-size: 0.65rem;
    }
    .texto1{
        margin-top: 0vh;
    }
    .texto44, .texto4, .texto4b, .hist h10, .texto44b{
        font-size: 1.9rem;
    }
    .texto4b{
        margin-top: -7vh;
        margin-bottom: 0vh;
    }
    .texto44{
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
        margin-top: -25vh;
    }
    .titulomodal{
        font-size: 1rem;
    }
    .hist p{
        font-size: 0.6rem;
        width: 30vw;
    }
    .hist{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .opcao{
        width: 28vw;
        height: 15vh;
    }
    .titulomodal{
        width: 28vw;
        height: 7vh;
    }
    .texto{
        font-size: 1em;
    }
    .rowblog img, .rowblog2 img{
        height: 12vh;
        width: 25vw;
    }
    .rowwblog img{
        height: 40vh;
        width: 80vw;
    }
    .card-title, .card-title2{
        margin-bottom: 0;
        font-size: 0.61rem ;
        width: 25vw;
    }
    .card .mobile-spacing{
        padding: 0.5rem;
    }
    .envios input {
        width: 50vw;
        height: 2vh;
        font-size: 0.5rem;
        margin-top: 0vh;
    }
    .envios .formulario div:nth-child(-n+3) {
        margin-top: -0.7vh;
    }
    .envios .formulario input[type="submit"] {
        position: relative;
        top: -1vh;
      }
    .envios textarea{
        width: 50vw;
        height: 10vh;
        font-size: 0.5rem;
    }
    .ajudablog{
        margin-top: -2vh;
        font-size: 0.5rem;
        width: 25vw;
    }
    .button2{
        margin-left: 1.5vw;
        width: 13vw;
        margin-top: -55vh;
        margin-bottom: 2vh;
        font-size: 0.5rem;
        height: 2vh;
        line-height: 1.5vh;
    }
    .button2b{
        font-size: 1rem;
    }
    .texto4{
        margin-top: 6vh;
        margin-bottom: 2vh;
    }
    .texto44b{
        margin-top: 0vh;
        margin-bottom: 2vh;
    }
    .logonome {
        margin-top: -14.5vh;
        width: 30vw;
        height:6vh;
    }
    .algo{
        margin-top: -5vh;
        width: 45vw;
        font-size: 0.8rem;
        border-bottom: 0.2vh solid #eeeeee;
    }
    .sps{
        width: 45vw;
        font-size: 0.55rem;
        margin-top: 0vh;
    }
    .redesSociais{
        margin-left: -2vw;
        margin-top: -2.5vh;
    }
    .algo, .sps{
        margin-left: -2vw;
    }
    .face{
        margin-right: 1vw;
    }
    .redesSociais a{
        width: 6vw;
        height: 3vh;
        border: 0.15rem solid white;
        margin-bottom: 1vh;
        margin-top: 1.5vh;
    }
    .redesSociais a i {
        font-size: 0.8rem;
    }
    #footer{
        width: 100vw;
        height: 20vh;
    }
    .xx{
        font-size: 1rem;
        margin-top: 0.9vh;
    }
    .manual-navigation, .navigation-auto{
        margin-top: 18vh;
    }
    .manual-btn, .navigation-auto div{
        width: 2vw;
        height: 1.4vh;
        border: 0.1rem solid #41A68E;
    }
    .ss {
        margin-top: -3vh;
    }
    .navbar .navbar-nav .nav-item {
        padding: 0vh;
    }
    .navbar.test {
        background-color: transparent;
    } 
    .navbar.test .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='white' stroke-width='2' x1='3' y1='6' x2='27' y2='6'/%3E%3Cline stroke='white' stroke-width='2' x1='3' y1='14' x2='27' y2='14'/%3E%3Cline stroke='white' stroke-width='2' x1='3' y1='22' x2='27' y2='22'/%3E%3C/svg%3E");
        margin-top:-6vh ;
        margin-right: -2vw;
    }
    .navbar-brand img{
        width:30vw;
        height:8vh;
        margin-top:-1.5vh ;
    }
    .navbar.test .navbar-toggler {
        font-size: 2rem;
        transform: scale(1.5);
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-20%);
    }
    .navbar.test .navbar-toggler.open {
        transform: scale(1.5) rotate(90deg);
    }
    .navbar.test .navbar-nav {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;
        height: 100vh;
        width: 40vw;
        background-color:#41A68E; /* Cor de fundo personalizada */
        transition: right 0.3s;
        
    }
    .navbar.test .navbar-nav .nav-link {
        margin: 0.1vh 0; /* Adicione um espaçamento vertical entre os elementos */
        margin-left: 0;
        font-size: 1rem; /* Tamanho da fonte personalizado */
        text-decoration: none;
        width: 10vw;
        flex: 1; /* Distribuir espaço igualmente entre os itens */
        text-align: center; /* Alinhar o texto no centro horizontal */
        display: flex;
        flex-direction: row;
        justify-content: center; /* Alinhar os itens no centro horizontal */
    }
    .navbar.test .navbar-nav .nav-link#inicio {
        margin-top: 2vh; /* Aumenta a margem superior do item "Início" */
    }
    .bg-modal, .bg-modal2, .bg-modal3{
        width: 90vw;
        height: 30vh;
        margin-top: 28vh;
        background-size: 50% 50%;
        
    }
    .bg-modal{
        margin-left: 62vw;
    }
    .bg-modal3{
        margin-left: -62vw;
    }
    .div112, .div1123, .div1122{
        height: auto;
    }
    .texto33{
        font-size: 1.4rem;
    }
    .textott{
        width: 30vw;
        font-size: 0.6rem;
    }
    .opcaooo, .opcaooo2, .opcaooo22, .opcaooo3, .opcaooox{
        height: 15vh;
        width: 25vw;
    }
    .sliderrr, .sliderr, .sliderr3{
        height: auto;
    }
    .s1{
        font-size: 1rem;
        width: auto;
    }
    .paraotexto{
        width: 80vw;
    }
    .button2x{
        width: 20vw;
    }

}
@media only screen and (max-width: 380px){
    .slider-frame, .slider{
        width: 103vw;
    }
    .div111{
        height: 190px;
    }
    .div1{
        height: 200px;
    }
    .div111, .div3, .div1, .blog, .envios, #footer{
        width: 103vw;
    }
    .texto1, .texto1a{
        width: 35vw;
        font-size: 0.43rem;
    }
    .texto44 {
        position: absolute;
        left: 50vw;
        transform: translateX(-48%);
        margin-top: -155px;
    }
    .div11{
        margin-right: -4vw;
    }
    .texto44, .texto4, .texto44b, .texto4b{
        font-size: 1.5rem;
    }
    .manual-navigation, .navigation-auto{
        margin-top: 18vh;
        width: 46vw;
    }
    .texto{
        font-size: 0.7rem;
    }
    .card-title, .card-title2{
        font-size: 0.53rem;
    }
    .ajudablog{
        font-size: 0.4rem;
    }
    .button2{
        margin-top: -53vh;
    }
    .button2b{
        font-size: 0.7rem;
    }
    .texto4b{
        margin-top: -6vh;
        margin-bottom: -2vh;
    }
    .envios .formulario div:nth-child(-n+3) {
        margin-top: -10px;
    }
    .envios .formulario textarea {
        margin-top: -3.6px;
    }
    .envios .formulario input[type="submit"] {
        position: relative;
        top: -13px;
    }
    .logonome{
        margin-top: -145px;
    }
    #footer{
        height: 185px;
    }
    .xx{
        margin-top: 11px;
    }
    .texto1, .texto1a{
        margin-left: 3vw;
    }
    .redesSociais a{
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 380px) and (min-height: 700px) and (max-height: 750px){
    .logonome{
        margin-top: -19.2vh;
    }
    .texto44{
        margin-top: -22.5vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 620px){
    .div1{
        height: 30vh;
    }
    .hist h10{
        font-size: 3.5rem;
    }
    .hist p{
        font-size: 1rem;
    }
    .texto1{
        margin-top: -2vh;
    }
    .texto1, .texto1a{
        font-size: 0.75rem;
    }
    .logonome{
        margin-top: -130px;
    }
    .algo{
        font-size: 1.2rem;
        margin-top: -4.5vh;
    }
    .sps{
        font-size: 0.7rem;
    }
    #footer{
        height: 20vh;
    }
    .card-title, .card-title2{
        font-size: 0.85rem
    }
    .ajudablog{
        font-size: 0.65rem;
    }
    .redesSociais{
        margin-top: -1vh;
    }
    .xx{
        margin-top: 1.9vh;
    }
    .redesSociais a i{
        font-size: 1rem;
    }
    .face{
        margin-left: 0.1rem;
    }
    .manual-navigation, .navigation-auto {
        width: 46.5vw;
    }
}
@media only screen and (max-width: 330px){
    .texto1, .texto1a{
        width: 40vw;
        font-size: 0.37rem;
    }
    .slider-frame, .slider{
        width: 107vw;
    }
    .div111, .div3, .div1, .blog, .envios, #footer{
        width: 107vw;
    }
    .ajudablog{
        font-size: 0.34rem;
    }
    .logonome{
        margin-top: -148px;
    }
    .div11{
        margin-right: 0.2vw;
    }
    .card-title, .card-title2{
        font-size: 0.47rem;
    }
    .redesSociais a i{
        font-size: 0.6rem;
    }
    .face{
        margin-left: 0.2rem;
    }
    #footer{
        height: 180px;
    }
    .xx{
        margin-top: 2vh;
    }
    .hist p{
        font-size: 0.55rem;
    }
    .texto{
        font-size: 0.63rem;
    }
    .texto44{
        position: absolute;
        left: 50vw;
        transform: translateX(-46.5%);
        margin-top: -140px;
    }
    .button2b{
        font-size: 0.5rem;
    }
    .div111{
        height: 170px;
    }
}
@media only screen and (min-width: 700px) and (max-width:750px){
    .texto1, .texto1a{
        font-size: 0.9rem;
    }
    .texto1{
        margin-top: -2vh;
    }
    .div111{
        height: 35vh;
    }
    .div11, .slide img{
        height: 19vh;
        margin-top: 3.5vh;
    }
    .texto44, .texto4, .texto4b, .texto44b {
        font-size: 2.5rem;
    }
    .manual-navigation, .navigation-auto{
        width: 46.5vw;
        margin-top: 19.5vh;
    }
    .div1{
        height: 34vh;
    }
    .hist h10{
        font-size: 3.5rem;
    }
    .hist p{
        font-size: 1.1rem;
    }
    .ajudablog{
        font-size: 0.78rem;
    }
    .card-title, .card-title2{
        font-size: 1.05rem;
    }
    .rowblog img, .rowblog2 img{
        height: 15vh;
    }
    .button2{
        margin-top: -52vh;
        margin-left: 0.8vw;
        font-size: 0.7rem;
        line-height: 1.6vh;
    }
    .logonome{
        height: 7vh;
        margin-top: -12.4vh;
    }
    .algo{
        margin-top: -4vh;
        font-size: 1.5rem;
    }
    .redesSociais{
        margin-top: -1.5vh;
    }
    .redesSociais a i{
        font-size: 1.2rem;
    }
    .xx{
        font-size: 1.2rem;
    }
    .face{
        margin-left: 0.2rem;
    }
    .sps{
        font-size: 0.9rem;
    }
    .navbar.test .navbar-nav .nav-link {
        font-size: 1.5rem;
    }
    .texto44{
        margin-top: -30vh;
    }
}

@media only screen and (min-width: 760px) and (max-width:850px){
    .texto1, .texto1a{
        font-size: 1rem;
    }
    .texto1{
        margin-top: -3vh;
    }
    .div111{
        height: 35vh;
    }
    .div11, .slide img{
        height: 19vh;
        margin-top: 3.5vh;
    }
    .texto44, .texto4, .texto4b, .texto44b {
        font-size: 3rem;
    }
    .manual-navigation, .navigation-auto{
        width: 46.5vw;
        margin-top: 19.5vh;
    }
    .texto{
        font-size: 1.1rem;
    }
    .div1{
        height: 34vh;
    }
    .hist h10{
        font-size: 3.5rem;
    }
    .hist p{
        font-size: 1.1rem;
    }
    .ajudablog{
        margin-top: -1vh;
        font-size: 0.8rem;
    }
    .card-title, .card-title2{
        font-size: 1.1rem;
    }
    .rowblog img, .rowblog2 img{
        height: 15vh;
    }
    .button2{
        margin-top: -500px;
        margin-left: 0.8vw;
        font-size: 0.7rem;
        line-height: 1.6vh;
    }
    .logonome{
        height: 7vh;
        margin-top: -150px;
    }
    .algo{
        margin-top: -4vh;
        font-size: 1.5rem;
    }
    .redesSociais{
        margin-top: -1.5vh;
    }
    .redesSociais a i{
        font-size: 1.2rem;
    }
    .xx{
        font-size: 1.2rem;
    }
    .face{
        margin-left: 0.2rem;
    }
    .sps{
        font-size: 0.9rem;
    }
    .navbar.test .navbar-nav .nav-link {
        font-size: 1.5rem;
    }
    .texto44{
        margin-top: -30vh;
    }
}

@media only screen and (min-width: 380px) and (max-width:400px){
    .slider-frame img{
        width: 100vw;
        height: 30vh;
    }
    .slider-frame, .slider{
        height: 30vh;
        width: 102vw;
    }
    .texto44, .texto4, .texto44b, .texto4b{
        font-size: 1.5rem;
    }
    .div111, .div3, .div1, .blog, .envios{
        width: 102vw;
    }
    .texto{
        font-size: 0.6rem;
    }
    .div1{
        height: 32vh;
    }
    .div11{
        margin-top: 9vh;
    }
    .texto1, .texto1a{
        font-size: 0.5rem;
    }
    .div111{
        height: 220px;
    }
    .texto44{
        margin-top: -24vh;
    }
    .button2{
        margin-top: -52vh;
    }
    .card-title, .card-title2{
        font-size: 0.57rem;
    }
    .ajudablog{
        margin-top: -3.5vh;
        font-size: 0.45rem ;
    }
    .rowblog img, .rowblog2 img{
        height: 16vh;
    }
    .button2b{
        margin-top: -2vh;
        font-size: 0.7rem;
    }
    .texto4b {
        margin-top: -6vh;
        margin-bottom: -2vh;
    }
    .logonome{
        margin-top: -137px;
        height: 8vh;
        width: 32vw;
    }
    .redesSociais{
        margin-top: -3vh;
    }
    .redesSociais a i{
        font-size: 0.7rem;
    }
    #footer{
        height: 170px;
        width: 102vw;
    }
    .xx{
        margin-top: 1.3vh;
        font-size: 0.9rem;
    }
    .envios .formulario div:nth-child(-n+3) {
        margin-top: -1.8vh;
    }
    .envios .formulario textarea {
        margin-top: -0.4vh;
    }
    .envios .formulario input[type="submit"] {
        position: relative;
        top: -2vh;
    }
    .face{
        margin-left: 1vw;
    }
}
@media only screen and (min-width: 630px) and (max-width:650px){
    .slider-frame img{
        height: 75vh;
    }
    .slider-frame, .slider{
        height: 75vh;
    }
    .texto44{
        font-size: 2rem;
    }
    .texto4, .texto44b, .texto4b{
        font-size: 2.5rem;
    }
    .hist h10{
        font-size: 3rem;
    }
    .hist p{
        font-size: 1rem;
    }
    .div111, .div3, .div1, .envios{
        height: 90vh;
    }
    .div11, .slider, .slide img{
        height: 55vh;
    }
    .blog{
        height: 120vh;
    }
    #footer{
        height: 40vh;
    }
    .texto1, .texto1a{
        font-size: 0.83rem;
    }
    .texto1{
        margin-top: 6vh;
    }
    .texto44{
        margin-top: -70vh;
    }
    .opcao{
        height: 45vh;
    }
    .rowblog img, .rowblog2 img{
        height: 45vh;
    }
    .titulomodal{
        height: 15vh;
    }
    .div3, .div1{
        height: 100vh;
    }
    .texto4{
        margin-top: 20vh;
        margin-bottom: 5vh;
    }
    .texto4b{
        margin-top: -25vh;
    }
    .button2{
        height: 5vh;
        margin-top: 0vh;
        font-size: 0.7rem;
        line-height: 4.5vh;
    }
    .card-title, .card-title2{
        font-size: 0.95rem;
    }
    .ajudablog{
        font-size: 0.7rem;
    }
    .button2b{
        font-size: 0.8rem;
    }
    .envios input{
        height: 5vh;
    }
    .envios textarea{
        height: 25vh;
    }
    .envios .formulario div:nth-child(-n+3) {
        margin-top: -1.8vh;
    }
    #footer{
        height: 45vh;
    }
    .logonome{
        margin-top: -33vh;
        height: 10vh;
    }
    .redesSociais a{
        width: 4vw;
        height: 6vh;
    }
    .face{
        margin-left: 1vw;
    }
    .xx{
        margin-top: 4.5vh;
    }
}
@media only screen and (min-width: 400px) and (max-width:420px){
    .texto1, .texto1a{
        font-size: 0.55rem;
    }
    .texto1{
        margin-top: -1.5vh;
    }
    .texto{
        font-size: 0.75rem;
    }
    .logonome{
        margin-top: -128px;
    }
    .button2{
        margin-top: -52vh;
    }
    .div1, .div111{
        height: 28vh;
    }
    .blog{
        height: 50vh;
    }
    .texto44{
        margin-top: -24vh;
    }
    .button2b{
        font-size: 0.8rem;
    }
    .envios .formulario div:nth-child(-n+3) {
        margin-top: -8px;
    }
    .envios .formulario textarea{
        margin-top: -0.4vh;
    }
    .envios .formulario input[type="submit"] {
        top: -2vh;
    }
    #footer{
        height: 170px;
    }
    .xx{
        margin-top: 2vh;
    }
}

@media only screen and (min-width: 470px) and (max-width:500px){
    .logonome{
        margin-top: -110px;
    }
}
@media only screen and (min-width: 390px) and (max-width:400px){
    .logonome{
        margin-top: -123px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 320px) and (min-height: 658px) and (max-height: 658px){
    .logonome{
        margin-top: -22vh;
    }
}
@media only screen and (min-width: 384px) and (max-width: 384px) and (min-height: 640px) and (max-height: 640px){
    .texto44{
        margin-top: -28vh;
    }
}
@media only screen and (min-width: 412px) and (max-width: 412px) and (min-height: 732px) and (max-height: 732px){
    .div11{
        height: 55vh;
    }
}

@media only screen and (min-width: 390px) and (max-width: 390px) and (min-height: 844px) and (max-height: 844px){
    .button2{
        margin-top: -53vh;
    }
    .logonome{
        margin-top: -120px;
    }
}
@media only screen and (min-width: 412px) and (max-width: 412px) and (min-height: 914px) and (max-height: 914px){
    .logonome{
        margin-top: -120px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 320px) and (min-height: 360px) and (max-height: 360px){
    .slider-frame, .slider-frame img{
        height: 45vh;
    }
    .div3, .envios{
        height: 60vh;
    }
    .blog{
        height: 70vh;
    }
    .div11, .slider{
        margin-top: 1vh;
        height: 30vh;
    }
    .slide img{
        height: 25vh;
    }
    .opcao{
        height: 25vh;
    }
    .titulomodal{
        height: 12vh;
    }
    .rowblog img, .rowblog2 img{
        height: 18vh;
    }
    .texto4b{
        margin-top: -18vh;
        margin-bottom: -5vh ;
    }
    .button2{
        font-size: 0.4rem;
        height: 3vh;
        margin-top: -38vh;
        line-height: 2.5vh;
    }
    .envios input{
        height: 3vh;
    }
    .envios textarea{
        height: 15vh;
    }
    .logonome{
        height: 10vh;
    }
    .texto1{
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .bg-modal.fullscreen .bg-image, .bg-modal2.fullscreen .bg-image, .bg-modal3.fullscreen .bg-image {
        background-size: 80% 100% !important;
    }
    .slider-frame img{
        height: 100vh;
    }
    .slider-frame, .slider{
        height: 100vh;
    }
    .div111, .envios{
        height: 120vh;
    }
    .blog, .div3, .div1{
        height: 140vh;
    }
    .div11, .slide img{
        height: 70vh;
    }
    .div11{
        margin-top: 30vh;
    }
    .texto44{
        margin-top: -95vh;
    }
    .texto1, .texto1a{
        font-size: 1rem;
    }
    .texto44, .texto4, .texto4b, .texto44b{
        font-size: 2.5rem;
    }
    .hist h10{
        font-size: 4rem;
    }
    .hist p{
        font-size: 1.4rem;
    }
    .opcao{
        height: 60vh;
    }
    .titulomodal{
        height: 25vh;
    }
    .rowblog img, .rowblog2 img{
        height: 60vh;
    }
    .texto4b{
        margin-top: -40vh;
    }
    #footer{
        height: 220px;
    }
    .envios .formulario input{
        height: 5vh;
    }
    .envios .formulario textarea{
        height: 30vh;
    }
    .texto4{
        margin-top: 25vh;
    }
    .button2{
        font-size: 0.9rem;
        width: 10vw;
        height: 6vh;
        margin-top: 20vh;
        line-height: 6vh;
    }
    .logonome{
        height: 15vh;
        margin-top: -135px;
    }
    .redesSociais a{
        height: 15vh;
    }
    .redesSociais a i{
        font-size: 1.5rem;
    }
    .face{
        margin-left: 1vw;
    }
    .envios .formulario div:nth-child(-n+3) {
        margin-top: -6px;
    }
    .envios .formulario input[type="submit"] {
        top: -11px;
    }
    .manual-navigation, .navigation-auto{
        margin-top: 65vh;
    }
    .manual-btn, .navigation-auto div{
        height: 5vh;
    }
    .card-title, .card-title2{
        font-size: 1.3rem;
    }
    .ajudablog{
        font-size: 0.9rem;
    }
    .algo{
        font-size: 1.5rem;
    }
    .xx{
        margin-top: 4vh;
    }
    .textott, .textott128{
        width: 25vw;
        font-size: 0.7rem;
        margin-left: 5vw;
        margin-top: 5vh;
    }
    .textott12, .textott1{
        width: 25vw;
        font-size: 0.7rem;
        margin-left: 5vw;
    }
    .texto3334{
        font-size: 1rem;
    }
    .opcaooo2{
        height: 40vh;
        width: 18vw;
        margin-right: 0;
    }
    .opcaooo22{
        height: 40vh;
        width: 18vw;
        margin-top: -5vh;
        margin-right: 0;
    }
    .opcaooo3{
        height: 40vh;
        width: 18vw;
        margin-top: 4vh;
        margin-right: 0;
    }
    .opcaooo, .opcaooox{
        height: 40vh;
        width: 18vw;
        margin-left: 5vw;
        margin-right: 0;
        margin-top: 5vh;
    }
    .sliderrr, .sliderr, .sliderr3{
        height: 100%;
    }
    .close2{
        right: 22vw;
    }
    .botoesservico{
        margin-bottom: 4vh;
    }
    .rowwblog img{
        height: 80vh;
        width: 40vw;
    }
  }

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .button2{
        margin-top: 30vh;
    }
    .xx{
        margin-top: 5vh;
    }
    .logonome{
        margin-top: -160px;
    }
    .navbar.test .navbar-toggler-icon {
        margin-top: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    .button2{
        margin-top: -30vh;
    }
    .button2b, .texto1, .texto1a{
        font-size: 2rem;
    }
    .texto44, .texto4, .texto44b, .texto4b{
        font-size: 6rem;
    }
}